job('job_dsl_parameters') {

    description('This is my Parameters testing Job')

  
    parameters {
        stringParam('Planet', defaultValue = 'world', description = 'This is the world')
	    booleanParam('FLAG', true)
        choiceParam('OPTION', ['option 1 (default)', 'option 2', 'option 3'])
    }

}